.sensor-navbar {
  background: #e9eef3;
  border-bottom: 1px solid #d3d8de;
  padding: 10px 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  color: #2b5c9c;
  margin: 0;
}
.nav-title a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 15px;
  color: #2b2d42;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.nav-links a:hover {
  background: #2b5c9c;
  color: white;
}
