header{
    color:rgb(6, 6, 127);
    text-align: center;

}
table, thead, tbody{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
